<% layout('layouts/boilerplate') %>
<h1>Item History</h1>

<h2>
    <p>BatteryID:<span id="history_batteryID"></span></p>
</h2>

<p><strong>Offer Interest:</strong> <span id="history_offer_interest"></span></p>

<p><strong>Reference Sector:</strong> <span id="history_reference_sector"></span></p>

<p><strong>Reference Type:</strong> <span id="history_reference_type"></span></p>

<p><strong>Offer Price:</strong> <span id="history_offer_price"></span></p>

<p><strong>Description:</strong> <span id="history_description"></span></p>

<p><strong>Date of Creation:</strong><span id="history_date_creation"></span></p>

<p><strong>Number of Refurbishment:</strong><span id="history_refurbishmentAmount"></span></p>

<p><strong>Date of Last Refurbishment:</strong><span id="history_date_lastRefurbishment"></span></p>

<p><strong>Description of Refurbishment:</strong><span id="history_description_Refurbishment"></span></p>



<!-- <div class="mb-3">
    <label class="form-label" for="api_code"></label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        id="api_code"
        placeholder="API URI"
        aria-label="api_code"
        aria-describedby="api_code-label"
        optional
      />
  </div>
  <label class="form-label" for="api_creation">Date of Creation</label>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      id="api_creation"
      name="offer[api_creation]"
      placeholder="Year"
      required
    />
  </div>
   <label class="form-label" for="api_batteryId">Battery ID</label>
  <div class="input-group mb-3">
    <input
      class="form-control"
      type="text"
      id="api_batteryId"
      name="offer[api_batteryId]"
      placeholder="Battery ID"
      required
      
    />
  </div> -->
  <!-- <label class="form-label" for="api_refurb">Number of refurbs</label>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      id="api_refurb"
      name="offer[api_refurb]"
      placeholder="Number of refurbs"
      required
    />
  </div>
  <label class="form-label" for="api_refurbDate">Refurb date</label>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      id="api_refurbDate"
      name="offer[api_refurbDate]"
      placeholder="Refurbish Date (YY-MM-DD)"
      required
    />
  </div>

  <label class="form-label" for="api_descriptionRefurb">Description of Refurbishment</label>
  <div class="mb-3">
    <textarea
      class="form-control"
      type="text"
      id="api_descriptionRefurb"
      name="offer[description_refurb]"
      placeholder="Description of Refurbishment"
      required
    ></textarea>
    
    
  </div> -->
  <!--    API    -->